<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      *ngFor="let item of fakeData | filterFeatured:true; let i = index"
      [Id]="item.id"
      [photoCover]="item.photoCover"
      [cardTitle]="item.title"
      [cardDescription]="item.description"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let item of fakeData | filterFeatured:false; let i = index"
      [Id]="item.id"
      [cardTitle]="item.title"
      [photoCover]="item.photoCover"
    >
    </app-small-card>
  </div>
</div>
